.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 94px;
    padding:0px, 100px, 0px, 100px;
    width: 100%;
  }
  
  .LogoName{
    display: flex;
    width: 169px;
    height: 48px;
    gap: 8px;
    margin-right: 170px;
}

.LimitedLogoName{
  display: flex;
  height: 48px;
  gap: 8px;
  margin-left: 100px;
  /* margin-right: 170px; */
}

.Logos {
    width: 48px;
    height: 48px;
    background-color: #34a853;
    color: white;
    border-radius: 5px;
    margin-right: 120px;
}
  
.LimitedLogos{
  width: 48px;
  height: 48px;
  background-color: #34a853;
  color: white;
  border-radius: 5px;
  /* margin-right: 120px; */
}

.NavDevs {
    width: 113px;
    height: 34px;
    font-style: Headline Bold;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-top: 5px;
}

.LimitedNavDevs{
    height: 34px;
    font-style: Headline Bold;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: -30px;
}

.LimitedNavIcons{
  margin-left: 100px;
}

.NavHomes {
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

.LimitedNavHomes{
  width: 24px;
  height: 24px;
  margin-right: 20px;
}
  
.NavBells {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.LimitedNavBells{
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.NavUser {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.NavLunar{
  width: 24px;
  height: 24px;
}

.Navsearchbar {
  width: 1000px;
  height:  36px;
  display: flex;
  border: 1px solid #D0D5DD ;
  margin-left: -200px;
}

.LimitedNavsearchbar{
  width: 120%;
  height:  36px;
  display: flex;
  border: 1px solid #D0D5DD ;
  margin-left: -180px; 
}

.SearchInput {
    font-style: normal; 
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration: none;
    position: relative;
    width: 100%;
    margin-left: 10px;
    border: none;
    outline: none;
}
  
.SearchInput:focus {
    border: none;
    outline: none;
}
 
.SearchIcon {
    margin-left: 20px;
    width: 20px;
    height: 20px;
    margin-top: 7px;
}

.AvatarWriteStarted{
  margin-right: 100px;
}

.Avatar{
  width: 32px;
  height: 25px;
  border-radius: 200px;
  margin-left: 190px;
  margin-right: -70px;
}

.WriteArticle {
  width: 130px;
  height: 44px;
  padding: 12px, 16px, 12px, 16px;
  border: #ffffff;
  border-radius: 6px;
  gap: 8px;
  background-color: #ffffff;
  font-style:  Button Semi Bold - 14;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  color: #101828;
  margin-right: 10px;
}

.NavQuestions {
    width: 130px;
    height: 44px;
    padding: 12px, 16px, 12px, 16px;
    border: #ffffff;
    border-radius: 6px;
    gap: 8px;
    background-color: #34A853;
    color: #ffffff;
    font-style:  Button Semi Bold - 14;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
}

.NavGetstarted {
  width: 500px;
  height: 44px;
  padding: 12px, 16px, 12px, 16px;
  border: #ffffff;
  border-radius: 6px;
  gap: 8px;
  background-color: #34A853;
  color: #ffffff;
  font-style:  Button Semi Bold - 14;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  margin-right: 100px;
  margin-left: 90px;
}
  

