

.main_header {
  display: flex;
  height: 94px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(33, 33, 33, 0.08);
  position: sticky;
  top: 0;
  background-color: #ffffff;
  margin: 0;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

